/ - if mobile_device?
/   = render partial: 'brews/components/actionbar', locals: { back: true, back_icon: 'keyboard_arrow_left', back_url: social_path, title: '' }

main
  / .mobile-action-bar-holder
  .max960
    .new-social-container
      .upper
        .profile-photo
          = cl_image_tag current_profile.photos.profile.public_id, width: 60, height: 60, radius: :max, gravity: :face
          / h4.mt-10.mb-0 A book I'm reading now..

        .picture-uploader
          .picture-uploader-caption
            | +

          .abs-icon
            i.material-icons linked_camera

          = cl_image_upload_tag :"social_update[picture_id]"
          / = cl_image_upload_tag :picture_id, resource_type: :image, name: "photo"
          / = file_field_tag :photo, accept: 'image/*;capture=camera', name: "photo"

      = form_tag create_social_path, class: 'create-update mt-10' do
        = hidden_field :social_update, :id, value: @social_update.id
        = hidden_field :social_update, :picture_id, value: @social_update.picture_id
        .text
          = text_field :social_update, :text, value: @social_update.text, placeholder: "A book I'm reading now..", class: 'mdl-textfield__input text-input'

    .picture-preview data-picture-id="#{@social_update.picture_id}"
      .image

      .loading
        = image_tag 'dots-fade.gif'

      .text-overlay
        .text
          = @social_update.text

  .cancel-social
    = link_to(social_path, class: 'no-decor') do
      i.material-icons style='font-size: 32px;' clear

  .post-social
    = link_to('#', class: 'no-decor') do
      i.material-icons send

javascript:
  function fillPicture(public_id) {
    $('.picture-preview > .image').html($.cloudinary.image(public_id, { crop: 'fill', width: $('body').innerWidth(), height: $('body').innerWidth() }));
  }

  function updateSocial(params) {
    params.social_update.id = $('form.create-update input[name="social_update[id]"]').val();
    var authToken = $('form.create-update input[name="authenticity_token"]').val();
    $.ajax({
      url: '/update-social?authenticity_token=' + encodeURIComponent(authToken),
      method: 'PATCH',
      data: params
    })
    .done(function(msg) {
    });
  }

  function shiftOverlayOnTop() {
    var $overlay = $('.text-overlay');
    $overlay.css('background-color', 'rgba(250, 103, 96, 0.4)');
    $overlay.find('.text').css({ position: 'absolute', 'bottom': '25px' });
  }

  $(function() {
    if($('.picture-preview').data('picture-id') !== "") {
      fillPicture($('.picture-preview').data('picture-id'));
    }

    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
      $('.picture-preview .loading').hide();

      $('.picture-preview > .image').html(
        $.cloudinary.image(data.result.public_id, { format: data.result.format, version: data.result.version, crop: 'fill', width: $('body').innerWidth(), height: $('body').innerWidth() })
      );

      $('input[name="social_update[picture_id]"]').val(data.result.public_id);

      updateSocial({ social_update: { picture_id: data.result.public_id } });
      shiftOverlayOnTop();

      return true;
    });

    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
      $('.picture-preview .loading').show();
    });

    $('input[name="social_update[text]"]').on('keyup', function() {
      var text = $(this).val()
      var $overlay = $('.text-overlay');
      $overlay.css('width', $('body').innerWidth());
      $overlay.css('height', $('body').innerWidth());
      $overlay.css('display', 'flex');
      $overlay.find('.text').text(text);
    });

    $('input[name="social_update[text]"]').on('blur', function() {
      updateSocial({ social_update: { text: $('input[name="social_update[text]"]').val() } });
    });
  });
