main
  .max960
    .social-container
      h2 SOCIAL
      h5 Q of the day
      .social-scroll
        div.social-card.active data-idx="0" 1
        div.social-card data-idx="1" 2
        div.social-card data-idx="2" 3
        div.social-card data-idx="3" 4



javascript:
  var screenWidth = $('body').innerWidth();
  var $socialCards = $('.social-card');
  var scrollPos = 0;

  function getScrollPos() {
    return $('.social-scroll').scrollLeft();
  }

  function showNextCard() {
    var $activeCard = $('.social-card.active');
    var cardIndex = $activeCard.data('idx');

    if(cardIndex == ($socialCards.length - 1)) {
      return;
    }

    var nextIndex = cardIndex + 1;
    var currPos = getScrollPos();
    var $nextCard = $($socialCards[nextIndex]);

    $('.social-scroll').animate({ scrollLeft: currPos + 300 }, 1000);

    makeActive($nextCard);
    makeInactive($activeCard);
    $nextCard.toggleClass('active');
    $activeCard.toggleClass('active');
  }

  function showPreviousCard() {
    var $activeCard = $('.social-card.active');
    var cardIndex = $activeCard.data('idx');

    if(cardIndex == 0) {
      return;
    }

    var nextIndex = cardIndex - 1;
    var currPos = getScrollPos();
    var $nextCard = $($socialCards[nextIndex]);

    $('.social-scroll').animate({ scrollLeft: currPos - 300 }, 1000);

    makeActive($nextCard);
    makeInactive($activeCard);
    $nextCard.toggleClass('active');
    $activeCard.toggleClass('active');
  }

  function makeActive($card) {
    $card.animate({
      width: '300px',
      height: '300px'
    }, 1500);
  }

  function makeInactive($card) {
    $card.animate({
      width: '270px',
      height: '270px'
    }, 1500);
  }

  $(function() {
    // $('.social-scroll').on('scroll', function(e) {
    //   var currPos = $(this).scrollLeft();

    //   if (scrollPos < currPos) {
    //     console.log('scroll right');
    //     showNextCard();
    //   }
    //   if (scrollPos > currPos)
    //   {
    //       console.log('scroll left');
    //       showPreviousCard();
    //   }

    //   scrollPos = currPos;
    // });

    $('.social-card').on('click', function(e) {
      showNextCard();
    });

    $('.social-card').on('swiperight', function(e) {
      showPreviousCard();
    });
  });
