- if admin_user.present?
  .row
    #mfratio.col-xs-3.text-center
    #intentions.col-xs-3.text-center
      h3 Intentions
      hr
      h4
        | Dating #{percent_val(@intent_dating, (@intent_dating + @intent_relationship))}&#37;
        br
        | Relationship #{percent_val(@intent_relationship, (@intent_dating + @intent_relationship))}&#37;
    #agebreakdown.col-xs-3.text-center
      h2 Age Breakdown
      h3
        p 18-25: #{percent_val(@age_18_25, @total)}&#37;
        p 26-30: #{percent_val(@age_26_30, @total)}&#37;
        p 31-35: #{percent_val(@age_31_35, @total)}&#37;
        p 36-40: #{percent_val(@age_36_40, @total)}&#37;
        p 40 over: #{percent_val(@age_40_plus, @total)}&#37;
  .row
    .col-xs-4
      h3 Unmatched Reasons
      hr
      - @unmatched_reasons.each do |k, v|
        | #{k} : #{v}
        br

- else
  .row style='margin-bottom:25px;'
    .col-xs-12.text-center
      a.btn.btn.btn-primary href='/auth/facebook'
        i.fa.fa-facebook
        | &nbsp; Login

javascript:
  $(function () {
    $('#mfratio').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'M / F Split'
      },
      xAxis: {
        categories: ['Men', 'Women']
      },
      yAxis: {
        title: {
          text: 'Percent'
        }
      },
      series: [{
        name: 'Male',
        data: [#{percent_val(@men, @men+@women)}]
      },
      {
        name: 'Female',
        data: [#{percent_val(@women, @men+@women)}]
      }]
    });
  });

  $(function () {
    $('#agebreakdown').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Age Distribution'
      },
      xAxis: {
        categories: ['18-25', '26-30', '31-35', '36-40', '40 and over']
      },
      yAxis: {
        title: {
          text: 'Percent of total'
        },
        labels: {
          overflow: 'justify'
        }
      },
      series: [{
        name: '18-25',
        data: [#{percent_val(@age_18_25, @total)}, 0, 0, 0, 0]
      },
      {
        name: '26-30',
        data: [0, #{percent_val(@age_26_30, @total)}, 0, 0, 0]
      },
      {
        name: '31-35',
        data: [0, 0, #{percent_val(@age_31_35, @total)}, 0, 0]
      },
      {
        name: '36-40',
        data: [0, 0, 0, #{percent_val(@age_36_40, @total)}, 0]
      },
      {
        name: '40+',
        data: [0, 0, 0, 0, #{percent_val(@age_40_plus, @total)}]
      }]
    });
  });
