h3 New Butler Chat Messages
hr
.row
  .col-xs-12.col-sm-12.col-md-4
    .butler-chat-list
      - @profiles.each do |profile|
        = link_to "/show-butler-chat/#{profile.uuid}", class: 'no-decor' do
          .open-chat data-profile-uuid="#{profile.uuid}"
            .link
              | #{profile.fullname}
              br
              | #{profile.age}, #{profile.location_city}

            .pointer.hidden-xs.hidden-sm style='visibility: hidden;'
              i.material-icons navigate_next

  .col-md-8.chat-details

javascript:
  function showChat($chatRow) {
    var uuid = $chatRow.data('profile-uuid');
      $.get("/show-butler-chat/" + uuid, function(data) {
        $('.chat-details').html($(data).find('#main-wrapper').html());
      });

      $('.pointer').css('visibility', 'hidden');
      $chatRow.find('.pointer').css('visibility', 'visible');
  }
  function loadFirst() {
    var $firstElem = $('.open-chat:first');
    showChat($firstElem);
  }

  function loadOnClick() {
    $('.open-chat').on('click', function() {
      showChat($(this));
    })
  }

  $(function() {
    if($(window).width() > 699) {
      loadFirst();
      loadOnClick();
    }
  });
