= link_to '', "https://www.instamojo.com/@ekCoffeeBrew/#{event_id}?embed=form", rel: "im-checkout", :"data-behavior" => "remote", :"data-style" => "flat", :"data-text" => button_text

= javascript_include_tag 'https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js'
