body.introductions {
  background-color: #fff;
  // background: linear-gradient(to bottom, $accent_color, white);
}

.action-bar.introductions {
  background: none;
  border: none;
}

.action-bar__title.introductions {
  color: $accent_color;
}

// grid of faces
.members-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
}

.members-grid__profile {
  width: auto;
  height: auto;
  padding: 10px 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .picture {
    width: 100%;
    height: 100%;
    padding-bottom: 6px;
  }

  .name {
    text-align: center;
    font-size: 14px;
  }
}

// horizontally scrolling cards
.intro-row {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;

  .intro-row__profile {
    width: 90%;
    max-height: 100vh;
    overflow-y: scroll;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 0 2% 0 3%;
    position: relative;
    background-color: white;
    border-radius: 6px;
    overflow: auto;
    border: 1px solid #ededed;

    .picture {
      position: relative;
    }

    .name {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      font-size: 28px;
      letter-spacing: 0.6px;
      padding: 4px;
    }

    .details {
      display: flex;
      flex-flow: column nowrap;
      padding: 10px;
      width: auto;
      text-align: left;
      font-size: 16px;

      .schools, .blurb {
        padding: 2px;
        font-size: 15px;
      }
    }

    .intro-request-button {
      // position: absolute;
      text-align: center;
      background-color: $accent_color; /* ffcd6e #ffac0c;*/
      width: 100%;
      left: 0;
      top: 0;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;

      button, button:active, button:target, a, a:visited, a:hover {
        color: white;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        display: inline-flex;
        vertical-align: middle;
        background-color: inherit !important;
        border: none !important;
      }
    }
  }
}
