body.membership {
  background-color: white;

  main {
    min-height: calc(100vh - #{$bottom_menu_height});
    height: auto;
  }

  .max960 {
    min-height: calc(100vh - #{$bottom_menu_height});
  }
}

.membership-container {
  padding: 10px 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

  p {
    font-size: 14px;
  }
}
