// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

.container {
  width: 960px;
  margin: 0px auto;
  word-wrap: break-word;
}

.conversation {
  width: 300px;
  height: auto;
  padding: 10px 10px;
  border: 1px solid #888;
  overflow: auto;
}

.conversation .messages {
  clear: both;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
}

.messages .sent {
  clear: both;
  float: right;
  background-color: #319cf8;
  color: white;
  padding: 4px 4px;
  border: 1px solid lightblue;
}

.messages .received {
  clear: both;
  float: left;
  background-color: #efe8ec;
  color: black;
  padding: 4px 4px;
  border: 1px solid gainsboro;
}

