// Place all the styles related to the Brews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// a nice yellow-ish bg color #fff8ef

@import 'typography';
@import 'colors';

body {
  font-family: $body_font;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  background-color: #f7f7f7;
  color: #4a4e4f;
}

main {
  z-index: 1;
}

.list--unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.no-decor, a.no-decor:visited, a.no-decor:hover {
  text-decoration: none !important;
  color: inherit !important;
}

a.disabled {
  color: #888 !important;
}

.text--light {
  font-weight: 200;
}

.full-width {
  width: 100%;
}

// hide scrollbars
::-webkit-scrollbar {
    display: none;
}

.cover-image {
  background-size: cover;
}

.make-brew {
}

.make-brew .mdl-card__title {
  height: 150px;
  color: white;
  background: image-url('grey_wash_wall.png') center / cover;
}

.make-brew__bottom-holder {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.homepage-cover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-image: image-url('brew-cover-2.png');
  background-position: 0 -150px;
  height: 600px;
}

.welcome-cover {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: image-url('brew-cover-2.png');
  background-position: 0 0;
  height: 350px;
  color: white;
}

@media only screen and (max-width: 799px) {
  .homepage-cover {
    height: 300px;
    background-position: 0 0;
  }
}

.homepage-cover .headline {
  color: white;
}

.brews-enum-container {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
}

.explain-brew {}

.explain-brew__container {
  padding: 8px;
  text-align: center;
}

.no-padding {
  padding: 0
}

.padding-20 {
  padding: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.max960 {
  max-width: 960px;
  margin: 0px auto;
  padding: 0;
  position: relative;
}

.header {
}

.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header__nav__item {
  padding: 0px 10px;
  align-self: center;

  h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;

    a {
      color: #080808;
      text-decoration: none;
    }
  }
}

.logo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  // border: 1px solid #f68a8a;


  .name {
    font-size: 28px;
    color: #ff6961;
    font-weight: 400;
  }
}

.cell-container {
  padding: 20px;
}

.header-title {
  font-family: $header_title;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.centered-header-row {
  padding: 0;
  align-items: center;
  justify-content: center;
}

#brews-main-header {
  margin-bottom: 10px;
}

.activity-preview {
  font-size: 14px;
  border: 1px solid #ededed;
}

.activity-preview .icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.activity-preview .primary-image {
  clear: both;
  max-height: 160px;
  border: none;
  margin: 0;
  padding: 0;
}

.activity-preview .title {
  justify-content: center;
  padding: 8px;
}

.activity-preview .title .mdl-card__title-text {
  font-size: 18px;
}

.activity-preview .short-desc {
  text-align: center;
  padding: 8px;
}

.activity-preview .details-container {
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  justify-content: flex-start;
}

@media screen and (min-width: 800px) {
  .brew-detail-outer {
    padding: 25px;
    border-radius: 2px;
  }

  .create-brew-container {
    border: 1px solid #e4e4e4;
    padding: 25px;
    border-radius: 2px;
  }
}

.brew-detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.brew-detail__info__title {
  color: #f37070;
}

.brew-detail > div {
  width: 100%;
  // text-align: center;
}

.activity .details i {
  display: flex;
  align-self: center;
  padding-right: 10px;
}

.activity .details .price,
.activity .details .date,
.activity .details .place {
  display: flex;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
}

.activity-preview .attending {
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  justify-content: flex-start;
  min-height: 100%;
}

.activity-preview .attending .summary {
  margin: 4px;
  justify-content: center;
}

.activity-preview .attending .summary .going {
  font-weight: 400;
  font-size: 16px;
}

.activity-preview .attending .picture {
  width: 48px;
  height: 48px;
  margin: 4px;
  border: 1px solid #d8d8d8;
}

.activity-preview .places-remaining {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 10px 0px;
}

.activity-preview .interested {
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  justify-content: flex-start;
  min-height: 100%;
}

.face-squares {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.face-squares__face-image {
  padding: 2px;
  border-radius: 2px;
}

.face-squares__empty-face {
  width: 60px;
  height: 60px;
  padding: 2px;
  border-radius: 60px;
}

.face-squares__empty-face--male {
  border: 1px solid blue;
}
.face-squares__empty-face--female {
  border: 1px solid pink;
}

@media screen and (min-width: 800px) {
  .face-squares__face-image {
    cursor: pointer;
  }
}

.group-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.group-stats__stat {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ededed;
  border-radius: 2px;
  text-align: center;
}

.group-stats__stat__supporting-text {
  font-weight: 600;
  font-size: 14px;
}

.group-stats__stat__number {
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 799px) {

}

#profile-cards {
  display: block;
  position: relative;
}

.profile-card-lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}

.profile-card-lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

.profile-card-lightbox__container {
  position: absolute;
  background-color: white;
}

@media screen and (min-width: 800px) {
  .profile-card-lightbox__container {
    top: 10%;
    height: auto;
    left: calc(50% - 200px);
  }
}

@media screen and (max-width: 799px) {
  .profile-card-lightbox__container {
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
  }
}

.mobile-action-bar-holder {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.action-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 59px;
  background-color: $mobile_menu_bgcolor;
  border-top: 0.5px solid $mobile_menu_bordercolor;
  border-bottom: 0.5px solid $mobile_menu_bordercolor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;

  i.material-icons {
    color: #fd5b63;
    font-size: 32px;
  }
}

@media screen and (min-width: 800px) {
  .action-bar__close {
    justify-content: center;
  }
}

.action-bar__cancel {
  font-weight: 300;
  color: #555;
  position: fixed;
  left: 10px;
}

.action-bar__submit {
  color: #fd5b63;
  font-weight: 600;
  position: fixed;
  right: 10px;

  a, a:hover, a:visited, a:focus {
    color: #fd5b63;
    text-decoration: none;
  }
}

.action-bar__title {
  width: 50%;
  padding: 0 10px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 799px) {
  .profile-card-lightbox__container {
    justify-content: flex-start;
  }
}

.profile-card {
  width: 400px;
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  margin: 0px auto;

  .separator {
    padding: 10px;
  }
}

.profile-card__supporting-text {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  color: #888;
}

.profile-card__name {
  font-size: 18px;
}

.profile-card__photo {
  height: 250px;
  width: 100%;
  background-color: #eee;
}

.profile-card__age-profession {
  text-align: center;
}

.profile-card__location {
  padding: 4px;
  text-align: center;
}

.profile-card__education {
  text-align: center;
}

.profile-card__education__highest-degree {
  font-weight: 600;
}

.profile-card__education__schools {
}

.profile-card__education__schools ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.profile-card__interests {
  padding: 20px;
}

.brew-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.brew-form__field {
  width: calc(100% - 20px);
  padding: 10px 10px;
  margin-bottom: 25px;
  background-color: white;
}

.brew-form__field-title {
  font-size: 18px;
  font-weight: 400;
  padding: 2px;
}

.brew-form__field-title__supporting-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #686868;
}

.brew-form__field__helper-text {
  font-size: 16px;
  color: #555;
}

.brew-form .click-activity-title {
  clear: both;
  font-weight: 600;
  color: #333;
  font-size: 15px;
  padding: 5px 0px;
}

.brew-form {
  .mdl-textfield__label {
    font-size: 16px;
    color: #9a9b9c;
    font-weight: 400;
  }

  .mdl-textfield__input {
    height: 45px;
    border: 1px solid rgba(0,0,0,.12);
  }
}

.brew-form__select-datetime {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0px;
}

.brew-form__select-date {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.brew-form__select-time {
  width: 90%;
}

.brew-form__select-time__range {
}

.brew-form__select-time-display {
  font-size: 16px;
  font-weight: 400;
}

.brew-form__select-tag {
  color: #333;
  background-color: #dedede;
  border: 1px solid #cdcdcd;
  padding: 8px;
  margin: 0px 6px 4px 0px;
  border-radius: 1px;
  white-space: nowrap;
}

.brew-form__select-tag--chosen {
  color: #ffffff;
  background-color: #ff6961;
  border: 1px solid #ffffff;
}

input[type=range]{
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ff6961;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.brew-form__select-gender {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#join-cta {

}

.join-brew-button {
  text-align: center;
  background-color: #fd5b63;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  a, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
}

.fixed-bottom {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.purchase-button {
  text-align: center;
  background-color: #ffac0c;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  a, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
}

.mobile-bottom-menu-holder {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.mobile-bottom-menu {
  background-color: $mobile_menu_bgcolor;
  border-top: 0.5px solid $mobile_menu_bordercolor;
  color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 2;
}

// http://codepen.io/rendro/pen/qazCG
// https://rendro.github.io/easy-pie-chart/
.time-remaining-chart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;

  span.time {
    font-size: 2em;
    font-weight: 300;
  }

  span.label {
    font-size: 1em;
    font-weight: 400;
  }

  canvas{
    position: absolute;
    left: 0;
    top: 0;
  }
}

