body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #404040;
  // font-size: 3vmin;
}

a, a:visited {
}

a:hover {
  text-decoration: none;
}

.content {
  padding: 30px 10px 0px 10px;
  background-color: white;
}

ul {
  margin: 0;
  list-style-type: square;
  padding: 0 0 0 20px;
}

.place {
  font-size: 5vmin;
}

.when {
  font-size: 4vmin;
}

.spots {
  font-size: 3vmin;
}

.addr {
  font-size: 3vmin;
}

.going {
  font-size: 2vmin;
}

.upcoming {
  font-size: 3vmin;
}

hr {
  border-top: 1px solid #cdcdcd;
}
