@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #404040;
  // font-size: 3vmin;
}

a, a:visited {
}

a:hover {
  text-decoration: none;
}

.content {
  // padding: 10px 10px 0px 10px;
  background-color: white;
  overflow-x:hidden;
  width:100%;
  position:relative;

}

ul {
  margin: 0;
  list-style-type: square;
  padding: 0 0 0 20px;
}

.place {
  font-size: 22px;
}

.overlay {
  background: rgba(0,0,0,.5);
  // background: -webkit-linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
  // background: -moz-linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
  // background: -o-linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
  // background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
  position: absolute;
  width: 360px;
  height: 100px;
  bottom: 0;
}

.when {
  position: absolute;
  padding: 4px 4px;
  border: 1px solid white;
  border-radius: 4px;
  bottom: 6px; left: 25px;
  width: 170px;
  color: white;
  font-size: 18px;
}

.cost {
  position: absolute;
  padding: 4px 4px;
  // border: 1px solid white;
  // border-radius: 4px;
  bottom: 6px; right: 25px;
  width: 110px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.cta {
  width: 100%;
  float: right;
}

.spots {
  font-size: 4vmin;
}

.addr {
  font-size: 3.5vmin;
}

.going {
  font-size: 2vmin;
}

.upcoming {
  font-size: 4vmin;
}

hr {
  border-top: 1px solid #cdcdcd;
}

.rsvp-button {
  font-size: 20px;
  width: 100%;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  background-color: #FF653F;
  border: none;
}

h1.experiences {
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
  position: absolute;
  left: 25px;
  top: 10px;
  text-shadow: 0px 0px 4px #969696;
}
