// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  width: 200px;
}

.site-header {
  background-color: white;
}

.hero-section {
  position: relative;
  width: auto;
  background-color: #f4f4f4;
  height: 400px;
}
