@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: font-url('MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: font-url('MaterialIcons-Regular.woff2') format('woff2'),
       font-url('MaterialIcons-Regular.woff') format('woff'),
       font-url('MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$body_font: -apple-system, '.SFNSText-Regular', BlinkMacSystemFont, 'Open Sans', Roboto, sans-serif !important;
$heading_font: -apple-system-headline, BlinkMacSystemFont, sans-serif;
$subheading_font: -apple-system-subheadline, BlinkMacSystemFont, sans-serif, 'Bariol';
$header_title: 'Josefin Sans', sans-serif;

h1, h2, h3 {
  font-family: $heading_font;
  font-weight: 400;
}

h4, h5, h6 {
  font-family: $subheading_font;
  font-weight: 300;
}

// p {
//   font-size: 16px;
//   line-height: 22px;
// }
